{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<h1>MAINDLE</h1>
<div class="invalid">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
    {% endwith %}
</div>

<h3><img src="{{filename}}" class="img-fluid"></h3>

<form action="/found" method="post" class="form-inline justify-content-center align-items-center">
    <select name="user_region" class="custom-select">
        {% for region, name in region_info %}
        <option value="{{region}}">{{name}}</option>
        {% endfor %}
    </select>
    <input autocomplete="off" autofocus class="form-control" id="summoner" name="summoner" placeholder="summoner name" type="text">
    <button class="btn btn-primary" type="submit">a darle :v</button>
</form>

<footer class="footer text-muted">
    Made with 💗 by <a href="https://github.com/BautistaUlecia" target="_blank">BautistaUlecia</a>
</footer>


{% endblock %}