{% extends "layout.html" %}

{% block title %}
    skin question
{% endblock %}

{% block main %}
<h1> <a href="/">MAINDLE</h1></a>
<h4>SCORE: {{session["score"]}}</h4>
<h1>Lives:</h1>
<div>
    {% for _ in range(lives) %}
        <span class="heart">❤️</span>
    {% endfor %}
</div>


<img src="{{filename}}">
<footer>
    <form action="/skin" method="post">
        {% for name in names %}
            <button value="{{name}}" name="answer" class="btn btn-primary btn-lg btn-custom">{{name}}</button>
        {% endfor %}
    </form>
</footer>
{% endblock %}